@page "/Systems/ApprovalTemplates"
@page "/Systems/ApprovalTemplates/Index"
@using Syncfusion.Blazor.Spinner

@*@attribute [AllowAnonymous]*@
@*@attribute [Authorize]*@
@attribute [Authorize(Roles = "Administrators, Users")]

@implements IAsyncDisposable

<div class="row">
    <div class="col-md-12">
        
        <AuthorizeView Roles="Administrators, Users">
            <Authorized>
                @if (models == null)
                {
                    <div>
                        <SfSpinner @bind-Visible="@VisibleProperty"
                                   Label="Data Loading...."
                                   Type="@SpinnerType.Bootstrap4"
                                   Size="50">
                        </SfSpinner>
                    </div>
                }
                else
                {
                    <!-- BEGIN #responsiveTables -->

                    <div class="d-flex align-items-center mb-3">
                        <div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">HOME</a></li>
                                <li class="breadcrumb-item">SYSTEM</li>
                                <li class="breadcrumb-item active">APPROVAL TEMPLATES</li>
                            </ul>
                            <h1 class="page-header mb-0">
                                Approval Templates <small>전자결재 템플릿</small>
                            </h1>
                        </div>


                    </div>

                    <div class="card">
                        <div class="card-header">
                            
                            <div class="ms-auto">
                                <a href="/Systems/ApprovalTemplates/Create" class="btn btn-primary disabled"><i class="fa fa-plus-circle fa-fw me-1"></i> Create</a>
                            </div>

                        </div>

                        <div class="card-body">
                            <ul class="nav nav-tabs nav-tabs-v2 px-4">
                                <li class="nav-item me-3"><a href="#allTab" class="nav-link active px-2" data-bs-toggle="tab">All</a></li>
                                <li class="nav-item me-3"><a href="#deletedTab" class="nav-link px-2" data-bs-toggle="tab">Deactivated</a></li>
                            </ul>
                            <div class="tab-content p-4">
                                <div class="tab-pane fade show active" id="allTab">
                                    <!-- BEGIN input-group -->
                                    <div class="input-group mb-4">
                                        <div class="flex-fill position-relative">
                                            <div class="input-group">
                                                <input type="text" class="form-control ps-35px" placeholder="Filter" />
                                                <div class="input-group-text position-absolute top-0 bottom-0 bg-none border-0 pe-0" style="z-index: 1020;">
                                                    <i class="fa fa-search opacity-5"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown"><span class="d-none d-md-inline">Filter</span><span class="d-inline d-md-none"><i class="fa fa-credit-card"></i></span> &nbsp;</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Loading fields...</a>
                                        </div>
                                        <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown"><span class="d-none d-md-inline">Sort</span><span class="d-inline d-md-none"><i class="fa fa-check"></i></span></button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Loading fields...</a>
                                        </div>
                                    </div>
                                    <!-- END input-group -->
                                    <!-- BEGIN table -->
                                    <div class="table-responsive ">
                                        <table class="table table-hover text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th class="border-bottom-0 border-top-0 pt-0 pb-2" scope="col"></th>
                                                    <th class="border-bottom-0 border-top-0 pt-0 pb-2" scope="col">#</th>
                                                    <th class="border-bottom-0 border-top-0 pt-0 pb-2" scope="col">Process</th>
                                                    <th class="border-bottom-0 border-top-0 pt-0 pb-2" scope="col">Center</th>
                                                    <th class="border-bottom-0 border-top-0 pt-0 pb-2" scope="col">Department</th>
                                                    <th class="border-bottom-0 border-top-0 pt-0 pb-2" scope="col">Team</th>
                                                    <th class="border-bottom-0 border-top-0 pt-0 pb-2" scope="col">Approvers</th>
                                                    <th class="border-bottom-0 border-top-0 pt-0 pb-2" scope="col">Registered</th>
                                                    <th class="border-bottom-0 border-top-0 pt-0 pb-2" scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            @if (models.Count == 0)
                                            {
                                                <tbody>
                                                    <tr>
                                                        <td colspan="4" class="text-center">
                                                            <p>데이터가 없습니다.</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            }
                                            <tbody>
                                                @*@foreach (var m in models)
                {*@
                                                <tr>
                                                    <td class="width-10 align-middle">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="product1">
                                                            <label class="form-check-label" for="product1"></label>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle" scope="row"><a href="#">1</a></td>
                                                    <td class="align-middle">휴가 신청서</td>
                                                    <td class="align-middle">Office</td>
                                                    <td class="align-middle">Sales1</td>
                                                    <td class="align-middle">Team1A</td>
                                                    <td class="align-middle">
                                                        <span class="badge bg-yellow-transparent-5 text-black-transparent-5 px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">Handler</span>
                                                        <span class="badge bg-gray-100 text-black-transparent-5 px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">Manager</span>
                                                        <span class="badge bg-gray-100 text-black-transparent-5 px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">Manager</span>
                                                        <span class="badge bg-gray-100 text-black-transparent-5 px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">Director</span>
                                                        <span class="badge bg-primary-transparent-2 text-primary px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">thlee@intsa.net</span>
                                                    </td>
                                                    <td class="align-middle">@DateTime.Today.ToShortDateString()</td>
                                                    <td class="align-middle disabled">
                                                        <i class="fas fa-lg fa-fw me-2 fa-edit"></i>
                                                        @*<a href="/Boards/Notices/Edit/@m.Id" class="btn btn-secondary disabled">Edit</a>*@
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="width-10 align-middle">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="product1">
                                                            <label class="form-check-label" for="product1"></label>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle" scope="row"><a href="#">1</a></td>
                                                    <td class="align-middle">일반 품의서</td>
                                                    <td class="align-middle">Office</td>
                                                    <td class="align-middle">Sales1</td>
                                                    <td class="align-middle">Team1A</td>
                                                    <td class="align-middle">
                                                        <span class="badge bg-yellow-transparent-5 text-black-transparent-5 px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">Handler</span>
                                                        <span class="badge bg-gray-100 text-black-transparent-5 px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">Manager</span>
                                                        <span class="badge bg-gray-100 text-black-transparent-5 px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">Manager</span>
                                                        <span class="badge bg-gray-100 text-black-transparent-5 px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">Director</span>
                                                        <span class="badge bg-gray-100 text-black-transparent-5 px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">thlee@intsa.net</span>
                                                        <span class="badge bg-primary-transparent-2 text-primary px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">dykim@intsa.net</span>
                                                    </td>
                                                    <td class="align-middle">@DateTime.Today.ToShortDateString()</td>
                                                    <td class="align-middle disabled">
                                                        <i class="fas fa-lg fa-fw me-2 fa-edit"></i>
                                                        @*<a href="/Boards/Notices/Edit/@m.Id" class="btn btn-secondary disabled">Edit</a>*@
                                                    </td>
                                                </tr>

                                                @*}*@
                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- END table -->

                                    <div class="d-md-flex align-items-center">
                                        <div class="me-md-auto text-md-left text-center mb-2 mb-md-0">
                                            Showing 1 to 10 of 57 entries
                                        </div>
                                        <ul class="pagination mb-0 justify-content-center">
                                            <li class="page-item disabled"><a class="page-link">Previous</a></li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-header">
                            <div class="mb-md-4 mb-3 d-md-flex">
                                <div class="mt-md-0 mt-2"><a href="#" class="text-dark text-decoration-none"><i class="fa fa-download fa-fw me-1 text-muted"></i> Export</a></div>
                                <div class="ms-md-4 mt-md-0 mt-2 dropdown-toggle">
                                    <a href="#" data-bs-toggle="dropdown" class="text-dark text-decoration-none">More Actions</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Confirm</a>
                                        <a class="dropdown-item" href="#">Deactivate</a>
                                        <a class="dropdown-item" href="#">Rollback</a>
                                        <a class="dropdown-item" href="#">Copy</a>
                                        <div role="separator" class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Subscribe</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- END #responsiveTables -->
                    }
                </Authorized>
            <NotAuthorized>

            </NotAuthorized>
        </AuthorizeView>

    </div>
</div>
