@page
@model ForgotPasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Forgot your password?";
}
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" /> 
    <base href="~/" />
    <!-- ================== BEGIN core-css ================== -->
    <link href="/css/bootstrap4.css" rel="stylesheet" />
    <link href="/templates/dashboard/assets/css/app.min.css" rel="stylesheet" />
    <!-- ================== END core-css ================== -->

</head>
<body>
    <!-- BEGIN #app -->
    <div id="app" class="app app-full-height app-without-header">
        <!-- BEGIN login -->
        <div class="login">
            <!-- BEGIN login-content -->
            <div class="login-content">

                <h3>@ViewData["Title"]</h3>
                <h4>Enter your email.</h4>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END login-content -->
        </div>
        <!-- END login -->
        <!-- BEGIN btn-scroll-top -->
        <a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
        <!-- END btn-scroll-top -->
     </div>

    <!-- END #app -->
    <!-- ================== BEGIN core-js ================== -->
    <script src="/templates/dashboard/assets/js/app.min.js"></script>
    <!-- ================== END core-js ================== -->

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>