@page
@model LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Log in";
    ViewData["AppClass"] = "app-full-height app-without-header app-full-width";
    ViewData["AppWithoutHeader"] = true;
    ViewData["AppWithoutSidebar"] = true;
    ViewData["AppWithoutContainer"] = true;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"]</title>
    <base href="~/" />
    <!-- ================== BEGIN core-css ================== -->
    <link href="~/css/bootstrap4.css" rel="stylesheet" />
    <link href="/templates/dashboard/assets/css/app.min.css" rel="stylesheet" />
    <!-- ================== END core-css ================== -->
</head>
<body data-spy='scroll' data-target='#sidebar-bootstrap' data-offset='200'>
    <!-- BEGIN #app -->
    <div id="app" class="@ViewData["AppClass"]">


        <!-- BEGIN login -->
        <div class="login">
            <!-- BEGIN login-content -->
            <div class="login-content">
                <form id="account" method="post">
                    <h1 class="text-center">Sign In</h1>
                    <div class="text-muted text-center mb-4">
                        For your protection, please verify your identity.
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control form-control-lg fs-15px" placeholder="username@intsa.net" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <div class="d-flex">
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <a id="forgot-password" asp-page="./ForgotPassword" class="ms-auto text-muted">Forgot password?</a>
                        </div>
                        <input asp-for="Input.Password" class="form-control form-control-lg fs-15px" value="" placeholder="Enter your password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            <label class="form-check-label fw-500" asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg d-block w-100 fw-500 mb-3">Sign In</button>
                    @*<div class="text-center text-muted">
                            Don't have an account yet? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a>.
                        </div>*@
                </form>
            </div>
            <!-- END login-content -->
        </div>
        <!-- END login -->
    </div>
    <!-- END #app -->
    <!-- ================== BEGIN core-js ================== -->
    <script src="/templates/dashboard/assets/js/app.min.js"></script>
    <!-- ================== END core-js ================== -->
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>



