@page "/FileManager"
@using Syncfusion.Blazor.FileManager

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">HOME</a></li>
    <li class="breadcrumb-item">BOARDS</li>
    <li class="breadcrumb-item active">FILES</li>
</ul>

<h1 class="page-header">
    Files <small>파일관리 및 공유</small>
</h1>





@code { 


    }