@page "/FileManager"
@using Syncfusion.Blazor.FileManager

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">HOME</a></li>
    <li class="breadcrumb-item">BOARDS</li>
    <li class="breadcrumb-item active">FILES</li>
</ul>

<h1 class="page-header">
    Files <small>파일관리 및 공유</small>
</h1>

<SfFileManager TValue="FileManagerDirectoryContent">
    <FileManagerAjaxSettings Url="#">
    </FileManagerAjaxSettings>
    <FileManagerToolbarSettings Items="@Items"></FileManagerToolbarSettings>
</SfFileManager>



@code { 
    public string[] Items = new string[] { "NewFolder", "Upload", "Delete", "Download", "OneDrive에서 보기", "관련문서 보기", "선택된 File번호로 묶음보기"}; 

    }