@page "/Settings"

<h3>Settings</h3>

<!-- BEGIN #content -->
<!-- BEGIN row -->
<div class="row justify-content-center">
    <!-- BEGIN col-10 -->
    <div class="col-xl-10">
        <!-- BEGIN row -->
        <div class="row">
            <!-- BEGIN col-9 -->
            <div class="col-xl-9">
                <!-- BEGIN #general 폰트색상/크기, 테마 -->
                <div id="general" class="mb-5">
                    <h4><i class="far fa-user fa-fw"></i> General</h4>
                    <p>Update website font size and theme color.</p>
                    <div class="card">
                        <div class="list-group list-group-flush">
                            <div class="list-group-item d-flex align-items-center">
                                <div class="flex-fill">
                                    <div>Basic Font</div>
                                    <div class="text-gray-700">Default</div>
                                </div>
                                <div class="width-100">
                                    <a href="#modalEdit" data-toggle="modal" class="btn btn-default width-100">Edit</a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="flex-fill">
                                    <div>Font Size</div>
                                    <div class="text-gray-700">10</div>
                                </div>
                                <div>
                                    <a href="#modalEdit" data-toggle="modal" class="btn btn-default width-100">Edit</a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="flex-fill">
                                    <div>Theme</div>
                                    <div class="text-gray-700">Bootstrap4</div>
                                </div>
                                <div>
                                    <a href="#modalEdit" data-toggle="modal" class="btn btn-default width-100">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END #general -->
                <!-- BEGIN #notifications 각 메뉴별 알림설정 -->
                <div id="notifications" class="mb-5">
                    <h4><i class="far fa-bell fa-fw"></i> Notifications</h4>
                    <p>Enable or disable what notifications you want to receive.</p>
                    <div class="card">
                        <div class="list-group list-group-flush">
                            <div class="list-group-item d-flex align-items-center">
                                <div class="flex-fill">
                                    <div>Notice Boards</div>
                                    <div class="text-gray-700 d-flex align-items-center">
                                        <i class="fa fa-circle fs-8px fa-fw text-success mr-1"></i> Enabled (Email, Push)
                                    </div>
                                </div>
                                <div>
                                    <a href="#modalEdit" data-toggle="modal" class="btn btn-default width-100 disabled">Edit</a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="flex-fill">
                                    <div>Calendar Schedule</div>
                                    <div class="text-gray-700 d-flex align-items-center">
                                        <i class="fa fa-circle fs-8px fa-fw text-muted mr-1"></i> Disabled
                                    </div>
                                </div>
                                <div>
                                    <a href="#modalEdit" data-toggle="modal" class="btn btn-default width-100">Edit</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- END #notifications -->
                <!-- BEGIN #email 각 메뉴별 메일알림설정 -->
                <div id="privacyAndSecurity" class="mb-5">
                    <h4><i class="far fa-copyright fa-fw"></i> Privacy and security</h4>
                    <p>Limit the account visibility and the security settings for your website.</p>
                    <div class="card">
                        <div class="list-group list-group-flush">
                            <div class="list-group-item d-flex align-items-center">
                                <div class="flex-fill">
                                    <div>Who can see your future posts?</div>
                                    <div class="text-gray-700 d-flex align-items-center">
                                        Friends only
                                    </div>
                                </div>
                                <div>
                                    <a href="#modalEdit" data-toggle="modal" class="btn btn-default width-100">Edit</a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="flex-fill">
                                    <div>Photo tagging</div>
                                    <div class="text-gray-700 d-flex align-items-center">
                                        <i class="fa fa-circle fs-8px fa-fw text-success mr-1"></i> Enabled
                                    </div>
                                </div>
                                <div>
                                    <a href="#modalEdit" data-toggle="modal" class="btn btn-default width-100">Edit</a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="flex-fill">
                                    <div>Location information</div>
                                    <div class="text-gray-700 d-flex align-items-center">
                                        <i class="fa fa-circle fs-8px fa-fw text-muted mr-1"></i> Disabled
                                    </div>
                                </div>
                                <div>
                                    <a href="#modalEdit" data-toggle="modal" class="btn btn-default width-100">Edit</a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="flex-fill">
                                    <div>Firewall</div>
                                    <div class="text-gray-700 d-block d-xl-flex align-items-center">
                                        <div class="d-flex align-items-center"><i class="fa fa-circle fs-8px fa-fw text-muted mr-1"></i> Disabled</div>
                                        <span class="bg-warning-transparent-1 text-warning ml-xl-3 mt-1 d-inline-block mt-xl-0 px-1 rounded-sm">
                                            <i class="fa fa-exclamation-circle text-warning fs-12px mr-1"></i>
                                            <span class="text-warning">Please enable the firewall for your website</span>
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <a href="#modalEdit" data-toggle="modal" class="btn btn-default width-100">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END #email -->
                <!-- BEGIN #languages 언어설정 -->
                <div id="languages" class="mb-5">
                    <h4><i class="fa fa-language fa-fw"></i> Languages</h4>
                    <p>Language font support and auto translation enabled</p>
                    <div class="card">
                        <div class="list-group list-group-flush">
                            <div class="list-group-item d-flex align-items-center">
                                <div class="flex-fill">
                                    <div>Language enabled</div>
                                    <div class="text-gray-700">
                                        English (default), Spanish, 한국어
                                    </div>
                                </div>
                                <div>
                                    <a href="#modalEdit" data-toggle="modal" class="btn btn-default width-100">Edit</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- END #languages -->
                <!-- BEGIN #resetSettings 개인설정 초기화 -->
                <div id="resetSettings" class="mb-5">
                    <h4><i class="fa fa-redo fa-fw"></i> Reset settings</h4>
                    <p>Reset all your website setting to default setting.</p>
                    <div class="card">
                        <div class="list-group list-group-flush">
                            <div class="list-group-item d-flex align-items-center">
                                <div class="flex-fill">
                                    <div>Reset Settings</div>
                                    <div class="text-gray-700">
                                        This action will clear and reset all the current website setting.
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="btn btn-default width-100">Reset</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END #resetSettings -->
            </div>
            <!-- END col-9-->
            <!-- BEGIN col-3 -->
            <div class="col-xl-3">
                <!-- BEGIN #sidebar-bootstrap -->
                <nav id="sidebar-bootstrap" class="navbar navbar-sticky d-none d-xl-block">
                    <nav class="nav">
                        <a class="nav-link" href="#general" data-toggle="scroll-to">General</a>
                        <a class="nav-link" href="#notifications" data-toggle="scroll-to">Notifications</a>
                        <a class="nav-link" href="#privacyAndSecurity" data-toggle="scroll-to">Privacy and security</a>
                        <a class="nav-link" href="#payment" data-toggle="scroll-to">Payment</a>
                        <a class="nav-link" href="#shipping" data-toggle="scroll-to">Shipping</a>
                        <a class="nav-link" href="#mediaAndFiles" data-toggle="scroll-to">Media and Files</a>
                        <a class="nav-link" href="#languages" data-toggle="scroll-to">Languages</a>
                        <a class="nav-link" href="#system" data-toggle="scroll-to">System</a>
                        <a class="nav-link" href="#resetSettings" data-toggle="scroll-to">Reset settings</a>
                    </nav>
                </nav>
                <!-- END #sidebar-bootstrap -->
            </div>
            <!-- END col-3 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END col-10 -->
</div>
<!-- END row -->
<!-- END #content -->
<!-- BEGIN #modalEdit -->
<div class="modal fade" id="modalEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit name</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    <div class="row row-space-10">
                        <div class="col-4">
                            <input class="form-control" placeholder="First" value="Sean" />
                        </div>
                        <div class="col-4">
                            <input class="form-control" placeholder="Middle" value="" />
                        </div>
                        <div class="col-4">
                            <input class="form-control" placeholder="Last" value="Ngu" />
                        </div>
                    </div>
                </div>
                <div class="alert alert-muted">
                    <b>Please note:</b>
                    If you change your name, you can't change it again for 60 days.
                    Don't add any unusual capitalization, punctuation, characters or random words.
                    <a href="#" class="alert-link">Learn more.</a>
                </div>
                <div class="form-group">
                    <label>Other Names</label>
                    <div>
                        <a href="#"><i class="fa fa-plus fa-fw"></i> Add other names</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- END #modalEdit -->



@code {

}
