@page "/"
@namespace Intsa.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    string menuController = "root"; 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>INT, S.A.</title>
    <base href="~/" />
    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
        <link href="css/site.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdn.syncfusion.com/blazor/18.4.30/styles/bootstrap4.css?_ga=2.192766442.1526098423.1612211511-1909562544.1612211511" />
    <!-- ================== BEGIN core-css ================== -->
    <link href="/templates/dashboard/assets/css/app.min.css" rel="stylesheet" />
    <script src="_content/MatBlazor/dist/matBlazor.js"></script>
    <link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet" />
    <!-- ================== END core-css ================== -->

</head>
<body data-spy='scroll' data-target='#sidebar-bootstrap' data-offset='200'>
    <!-- BEGIN #app -->
    <div id="app" class="app app-content-full-height">
        <!-- BEGIN #header -->
        <div id="header" class="app-header">
            <!-- BEGIN mobile-toggler -->
            <div class="mobile-toggler">
                <button type="button" class="menu-toggler" data-toggle="sidebar-mobile">
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
            </div>
            <!-- END mobile-toggler -->
            <!-- BEGIN brand -->
            <div class="brand">
                <div class="desktop-toggler">
                    <button type="button" class="menu-toggler" data-toggle="sidebar-minify">
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </button>
                </div>

                <a href="/Dashboard" class="brand-logo">
                    @*<img src="/templates/dashboard/assets/img/logo.png" alt="" height="20" />*@
                    <h4>INT, S.A.</h4>
                </a>
            </div>
            <!-- END brand -->
            <!-- BEGIN menu -->
            <div class="menu">
                <form class="menu-search" method="POST" name="header_search_form">
                    <div class="menu-search-icon"><i class="fa fa-search"></i></div>
                    <div class="menu-search-input">
                        <input type="text" class="form-control" placeholder="Search menu..." />
                    </div>
                </form>
                <div class="menu-item dropdown">
                    <a href="#" data-toggle="dropdown" data-display="static" class="menu-link">
                        <div class="menu-icon"><i class="fa fa-bell nav-icon"></i></div>
                        <div class="menu-label">3</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-notification">
                        <h6 class="dropdown-header text-gray-900 mb-1">Notifications</h6>
                        <a href="#" class="dropdown-notification-item">
                            <div class="dropdown-notification-icon">
                                <i class="fa fa-receipt fa-lg fa-fw text-success"></i>
                            </div>
                            <div class="dropdown-notification-info">
                                <div class="title">Your store has a new order for 2 items totaling $1,299.00</div>
                                <div class="time">just now</div>
                            </div>
                            <div class="dropdown-notification-arrow">
                                <i class="fa fa-chevron-right"></i>
                            </div>
                        </a>
                        <a href="#" class="dropdown-notification-item">
                            <div class="dropdown-notification-icon">
                                <i class="far fa-user-circle fa-lg fa-fw text-muted"></i>
                            </div>
                            <div class="dropdown-notification-info">
                                <div class="title">3 new customer account is created</div>
                                <div class="time">2 minutes ago</div>
                            </div>
                            <div class="dropdown-notification-arrow">
                                <i class="fa fa-chevron-right"></i>
                            </div>
                        </a>
                        <a href="#" class="dropdown-notification-item">
                            <div class="dropdown-notification-icon">
                                <img src="/templates/dashboard/assets/img/icon/android.svg" alt="" width="26" />
                            </div>
                            <div class="dropdown-notification-info">
                                <div class="title">Your android application has been approved</div>
                                <div class="time">5 minutes ago</div>
                            </div>
                            <div class="dropdown-notification-arrow">
                                <i class="fa fa-chevron-right"></i>
                            </div>
                        </a>
                        <a href="#" class="dropdown-notification-item">
                            <div class="dropdown-notification-icon">
                                <img src="/templates/dashboard/assets/img/icon/paypal.svg" alt="" width="26" />
                            </div>
                            <div class="dropdown-notification-info">
                                <div class="title">Paypal payment method has been enabled for your store</div>
                                <div class="time">10 minutes ago</div>
                            </div>
                            <div class="dropdown-notification-arrow">
                                <i class="fa fa-chevron-right"></i>
                            </div>
                        </a>
                        <div class="p-2 text-center mb-n1">
                            <a href="#" class="text-gray-800 text-decoration-none">See all</a>
                        </div>
                    </div>
                </div>
                <div class="menu-item dropdown">
                    <a href="#" data-toggle="dropdown" data-display="static" class="menu-link">
                        <div class="menu-img online">
                            <img src="/templates/dashboard/assets/img/user/user.jpg" alt="" class="mw-100 mh-100 rounded-circle" />
                        </div>
                        <div class="menu-text">seantheme@gmail.com</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mr-lg-3">
                        <a class="dropdown-item d-flex align-items-center" href="#">Edit Profile <i class="fa fa-user-circle fa-fw ml-auto text-gray-400 f-s-16"></i></a>
                        <a class="dropdown-item d-flex align-items-center" href="#">Inbox <i class="fa fa-envelope fa-fw ml-auto text-gray-400 f-s-16"></i></a>
                        <a class="dropdown-item d-flex align-items-center" href="/CustomTemplate">Calendar <i class="fa fa-calendar-alt fa-fw ml-auto text-gray-400 f-s-16"></i></a>
                        <a class="dropdown-item d-flex align-items-center" href="#">Setting <i class="fa fa-wrench fa-fw ml-auto text-gray-400 f-s-16"></i></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item d-flex align-items-center" href="templates/dashboard/page_login.html">Log In <i class="fa fa-toggle-off fa-fw ml-auto text-gray-400 f-s-16"></i></a>
                        <a class="dropdown-item d-flex align-items-center" href="#">Log Out <i class="fa fa-toggle-off fa-fw ml-auto text-gray-400 f-s-16"></i></a>
                    </div>
                </div>
            </div>
            <!-- END menu -->
        </div>
        <!-- END #header -->
        <!-- BEGIN #sidebar -->
        <div id="sidebar" class="app-sidebar">
            <!-- BEGIN scrollbar -->
            <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
                <!-- BEGIN menu -->
                <div class="menu">
                    <div class="menu-header">Navigation</div>
                    <div class="menu-item @(menuController == "root" ? "active" : "")">
                        <a href="/Dashboard" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-laptop"></i></span>
                            <span class="menu-text">Dashboard</span>
                        </a>
                    </div>
                    <div class="menu-divider"></div>
                    <!-- #region 영업관리 -->
                    <!-- 영업관리 BEGIN menu -->
                    <div class="menu-header">Sales & Distributtion</div>
                    <div class="menu-item">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fas fa-file"></i></span>
                            <span class="menu-text">File number management</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fas fa-file"></i></span>
                            <span class="menu-text">Order Status</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fas fa-file"></i></span>
                            <span class="menu-text">Shipment</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fas fa-file"></i></span>
                            <span class="menu-text">Billing & Payment</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fas fa-file"></i></span>
                            <span class="menu-text">Analysis</span>
                        </a>
                    </div>
                    <!-- 영업관리 END menu -->
                    <!-- #endregion -->
                    <div class="menu-divider"></div>
                    <!-- #region 생산관리 -->
                    <!-- 생산관리 BEGIN menu -->
                    <div class="menu-header">Production Planning</div>
                    <div class="menu-item ">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Work Order Plan</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fas fa-file"></i></span>
                            <span class="menu-text">Work Order Sheet</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fas fa-file"></i></span>
                            <span class="menu-text">Billing & Payment</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fas fa-file"></i></span>
                            <span class="menu-text">Analysis</span>
                        </a>
                    </div>
                    <!-- 생산관리 END menu -->
                    <!-- #endregion -->
                    <div class="menu-divider"></div>
                    <!-- #region 자재관리 -->
                    <!-- 자재관리 BEGIN menu -->
                    <div class="menu-header">Materials Management</div>
                    <div class="menu-item has-sub">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Purchase Requisition</span>
                            <span class="menu-caret"><b class="caret"></b></span>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Yarn</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Fabric</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_detail.html" class="menu-link">
                                    <span class="menu-text">Trim</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item has-sub">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fas fa-file"></i></span>
                            <span class="menu-text">Purchase Order</span>
                            <span class="menu-caret"><b class="caret"></b></span>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Yarn</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Fabric</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_detail.html" class="menu-link">
                                    <span class="menu-text">Trim</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item has-sub">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fas fa-file"></i></span>
                            <span class="menu-text">Movement Management</span>
                            <span class="menu-caret"><b class="caret"></b></span>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Yarn</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Fabric</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_detail.html" class="menu-link">
                                    <span class="menu-text">Trim</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item has-sub">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fas fa-file"></i></span>
                            <span class="menu-text">Inventory Management</span>
                            <span class="menu-caret"><b class="caret"></b></span>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Yarn</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Fabric</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_detail.html" class="menu-link">
                                    <span class="menu-text">Trim</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fas fa-file"></i></span>
                            <span class="menu-text">Billing & Payment</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fas fa-file"></i></span>
                            <span class="menu-text">Analysis</span>
                        </a>
                    </div>
                    <!-- 자재관리 END menu -->
                    <!-- #endregion -->
                    <div class="menu-divider"></div>
                    <!-- #region 공장 라인맵 -->
                    <!-- 공장 라인맵 BEGIN menu -->
                    <div class="menu-header">Line Map</div>
                    <div class="menu-item">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Order</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Line Planning</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="/CustomLine" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Line Map</span>
                        </a>
                    </div>

                    <div class="menu-item has-sub">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fas fa-file"></i></span>
                            <span class="menu-text">Settings</span>
                            <span class="menu-caret"><b class="caret"></b></span>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Factory</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Calendar</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_detail.html" class="menu-link">
                                    <span class="menu-text">Buyer</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_detail.html" class="menu-link">
                                    <span class="menu-text">Department</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_detail.html" class="menu-link">
                                    <span class="menu-text">Line</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fas fa-file"></i></span>
                            <span class="menu-text">Analysis</span>
                        </a>
                    </div>
                    <!-- 공장 라인맵 END menu -->
                    <!-- #endregion -->
                    <div class="menu-divider"></div>
                    <!-- #region 물류관리 -->
                    <!-- 물류관리 BEGIN menu -->
                    <div class="menu-header">Logistics Management</div>
                    <div class="menu-item ">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text"></span>
                        </a>
                    </div>

                    <!-- 물류관리 END menu -->
                    <!-- #endregion -->
                    <div class="menu-divider"></div>
                    <!-- #region 동시관리 -->
                    <!-- 동시관리 BEGIN menu -->
                    <div class="menu-header">Concur Management</div>
                    <div class="menu-item ">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Motor & Panel</span>
                        </a>
                    </div>
                    <div class="menu-item ">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Metting Room</span>
                        </a>
                    </div>
                    <div class="menu-item ">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Voucher</span>
                        </a>
                    </div>

                    <!-- 동시관리 END menu -->
                    <!-- #endregion -->
                    <div class="menu-divider"></div>
                    <!-- #region 자금관리 -->
                    <!-- 자금관리 BEGIN menu -->
                    <div class="menu-header">Treasury</div>
                    <div class="menu-item ">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Invoice</span>
                        </a>
                    </div>
                    <div class="menu-item ">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Voucher</span>
                        </a>
                    </div>
                    <div class="menu-item ">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Analysis</span>
                        </a>
                    </div>
                    <div class="menu-item ">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Treasury Management</span>
                        </a>
                    </div>
                    <div class="menu-item ">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Treasury Plan</span>
                        </a>
                    </div>
                    <div class="menu-item ">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Treasury Calendar</span>
                        </a>
                    </div>

                    <!-- 자금관리 END menu -->
                    <!-- #endregion -->
                    <div class="menu-divider"></div>
                    <!-- #region 관리회계 -->
                    <!-- 관리회계 BEGIN menu -->
                    <div class="menu-header">Controlling</div>
                    <div class="menu-item ">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text"></span>
                        </a>
                    </div>

                    <!-- 관리회계 END menu -->
                    <!-- #endregion -->
                    <div class="menu-divider"></div>
                    <!-- #region 품질관리 -->
                    <!-- 품질관리 BEGIN menu -->
                    <div class="menu-header">Quality Management</div>
                    <div class="menu-item ">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text"></span>
                        </a>
                    </div>

                    <!-- 품질관리 END menu -->
                    <!-- #endregion -->
                    <div class="menu-divider"></div>
                    <!-- #region 인적자원관리 -->
                    <!-- 인적자원관리 BEGIN menu -->
                    <div class="menu-header">Human Resources</div>

                    <!-- #region 게시판 -->

                    <div class="menu-item has-sub">
                        <a href="#" class="menu-link">
                            <span class="menu-icon">
                                <i class="fa fa-book-reader"></i>
                                <span class="menu-icon-label">3</span>
                            </span>
                            <span class="menu-text">INT Boards</span>
                            <span class="menu-caret"><b class="caret"></b></span>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="/Boards/Notices" class="menu-link">
                                    <span class="menu-text">Notice</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Suggestions</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_detail.html" class="menu-link">
                                    <span class="menu-text">Survey</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- #endregion -->

                    <div class="menu-item ">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Payroll Personal</span>
                        </a>
                    </div>
                    <div class="menu-item ">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Analysis</span>
                        </a>
                    </div>

                    <!-- 인적자원관리 END menu -->
                    <!-- #endregion -->
                    <div class="menu-divider"></div>
                    <!-- #region 기본설정 및 코드관리 -->
                    <!-- 기본정보 BEGIN menu -->
                    <div class="menu-header">Settings & Codes</div>
                    <div class="menu-item has-sub">
                        <a href="#" class="menu-link">
                            <span class="menu-icon">
                                <i class="fa fa-file"></i>
                            </span>
                            <span class="menu-text">Organization</span>
                            <span class="menu-caret"><b class="caret"></b></span>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="email_inbox.html" class="menu-link">
                                    <span class="menu-text">Cost Center</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Department</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_detail.html" class="menu-link">
                                    <span class="menu-text">Team</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_detail.html" class="menu-link">
                                    <span class="menu-text">User & Auth</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item has-sub">
                        <a href="#" class="menu-link">
                            <span class="menu-icon">
                                <i class="fa fa-file"></i>
                            </span>
                            <span class="menu-text">Customer</span>
                            <span class="menu-caret"><b class="caret"></b></span>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="email_inbox.html" class="menu-link">
                                    <span class="menu-text">Buyer</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Supplier</span>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="menu-item has-sub">
                        <a href="#" class="menu-link">
                            <span class="menu-icon">
                                <i class="fa fa-file"></i>
                            </span>
                            <span class="menu-text">Organization</span>
                            <span class="menu-caret"><b class="caret"></b></span>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="email_inbox.html" class="menu-link">
                                    <span class="menu-text">Cost Center</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Department</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_detail.html" class="menu-link">
                                    <span class="menu-text">Team</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_detail.html" class="menu-link">
                                    <span class="menu-text">User & Auth</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item has-sub">
                        <a href="#" class="menu-link">
                            <span class="menu-icon">
                                <i class="fa fa-file"></i>
                            </span>
                            <span class="menu-text">Codes</span>
                            <span class="menu-caret"><b class="caret"></b></span>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="email_inbox.html" class="menu-link">
                                    <span class="menu-text">Yarn</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Fabric Type</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_detail.html" class="menu-link">
                                    <span class="menu-text">Other Codes</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="menu-item has-sub">
                        <a href="#" class="menu-link">
                            <span class="menu-icon">
                                <i class="fa fa-file"></i>
                            </span>
                            <span class="menu-text">Size & Template</span>
                            <span class="menu-caret"><b class="caret"></b></span>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="email_inbox.html" class="menu-link">
                                    <span class="menu-text">Size</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Size Group</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_detail.html" class="menu-link">
                                    <span class="menu-text">Order Template</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="menu-item has-sub">
                        <a href="#" class="menu-link">
                            <span class="menu-icon">
                                <i class="fa fa-file"></i>
                            </span>
                            <span class="menu-text">Accounting</span>
                            <span class="menu-caret"><b class="caret"></b></span>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="email_inbox.html" class="menu-link">
                                    <span class="menu-text">Asset Account</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Exchange Rate</span>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="menu-item has-sub">
                        <a href="#" class="menu-link">
                            <span class="menu-icon">
                                <i class="fa fa-file"></i>
                            </span>
                            <span class="menu-text">Size & Template</span>
                            <span class="menu-caret"><b class="caret"></b></span>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="email_inbox.html" class="menu-link">
                                    <span class="menu-text">Size</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Size Group</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_detail.html" class="menu-link">
                                    <span class="menu-text">Order Template</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="menu-item has-sub">
                        <a href="#" class="menu-link">
                            <span class="menu-icon">
                                <i class="fa fa-file"></i>
                            </span>
                            <span class="menu-text">Approval</span>
                            <span class="menu-caret"><b class="caret"></b></span>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="email_inbox.html" class="menu-link">
                                    <span class="menu-text">Approval Template</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Approval Status</span>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="menu-item has-sub">
                        <a href="#" class="menu-link">
                            <span class="menu-icon">
                                <i class="fa fa-file"></i>
                            </span>
                            <span class="menu-text">Calendar</span>
                            <span class="menu-caret"><b class="caret"></b></span>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="email_inbox.html" class="menu-link">
                                    <span class="menu-text">Weekly Calendar</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="email_compose.html" class="menu-link">
                                    <span class="menu-text">Monthly Calendar</span>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="menu-item ">
                        <a href="/" class="menu-link">
                            <span class="menu-icon"><i class="fa fa-file"></i></span>
                            <span class="menu-text">Batch Processing</span>
                        </a>
                    </div>

                    <!-- 기본정보 END menu -->
                    <!-- #endregion -->
                    <p></p>
                </div>
                <!-- END menu -->
            </div>
            <!-- END scrollbar -->
            <!-- BEGIN mobile-sidebar-backdrop -->
            <button class="app-sidebar-mobile-backdrop" data-dismiss="sidebar-mobile"></button>
            <!-- END mobile-sidebar-backdrop -->
        </div>
        <!-- END #sidebar -->
        <!-- BEGIN #content -->
        <div id="content" class="app-content" data-scrollbar="true" data-height="100%" data-skip-mobile="true">
            <app>
                <div>
                    <component type="typeof(App)" render-mode="ServerPrerendered" />

                </div>
            </app>
        </div>
        <!-- END #content -->
        <!-- BEGIN btn-scroll-top -->
        <a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
        <!-- END btn-scroll-top -->
    </div>
    <!-- END #app -->


    @*<div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>*@

    <script src="_framework/blazor.server.js"></script>

    <!-- ================== BEGIN core-js ================== -->
    <script src="/templates/dashboard/assets/js/app.min.js"></script>
    <!-- ================== END core-js ================== -->
    
</body>
</html>
