@page "/Logistics/FacturaElectrico"
@page "/Logistics/FacturaElectrico/Index"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Navigations
@using System.ComponentModel.DataAnnotations
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs

<h1 class="page-header mb-3">
    Factura Electrico
    <small>SAT 전자영수증 생성관리</small>

</h1>
